{{ form_start(form) }}

  <div class=" d-flex flex-wrap">
  
      <div class="d-inline col-sm-12 col-md-6 col-lg-3 m-3">
          {{ form_row(form.firstname) }} 
      </div>

      <div class="d-inline col-sm-12 col-md-6 col-lg-3 m-3">
          {{ form_row(form.lastname) }}
      </div>

      <div class="d-inline col-sm-12 col-md-6 col-lg-3 mx-3 my-2">
        {{ form_row(form.birthdate) }}
      </div>

      <div class="d-inline col-sm-12 col-md-6 col-lg-1 mx-3 my-2">        
        {{ form_row(form.roles) }}
      </div>

      <div class="d-inline col-sm-12 col-md-6 col-lg-3 m-3">
          {{ form_row(form.email) }} 
      </div>

      <div class="d-inline col-sm-12 col-md-6 col-lg-3 m-3">
        {{ form_row(form.password) }}
      </div>

      <div class="d-inline col-sm-12 col-md-6 col-lg-3 m-3">        
        {{ form_row(form.picture) }}
      </div>    

  </div>
      <div class = "text-center mx-3">
      <button class="btn btn-success btn-lg my-5 " >{{ button_label|default('Enregistrer') }}</button>
  </div>

{{ form_end(form) }}